---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
        <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>
        <script src="Double.js"></script>
        <div id = "doublecode" class="""></div>
        <!--    <section class="content">
                {{ content }}

            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>-->
    </body>
</html>

